<div class="sign-in-area">
	<%= form_for(:session, url: login_path, html: { class: "form-sign" }) do |f| %>

		<%= f.text_field :email, placeholder: 'Email', required: true, autofocus: true, class: "form-control" %>
		
		<%= f.submit 'Sign in via email', class: "btn btn-lg btn-primary btn-block" %>
			
	<% end %>
	<%= link_to "Sign in with Facebook", "/auth/facebook" %>
	<br>
	<%= link_to "Sign in with vk", "/auth/vk" %>
</div>
<div class="sign-up-area">
	<%= form_for(:user, url: users_path, method: :post) do |f| %>

		<%= f.text_field :email, placeholder: 'Email', required: true, autofocus: true, class: "form-control" %>
	
	  <%= f.submit 'Sign up via email', class: "btn btn-lg btn-primary btn-block" %>
		
	<% end %>
</div>
