<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<div class="chat">
	<div class="message">
		<div class="message-title">Name</div>
		<div class="message-body">asd</div>
	</div>
</div>
<% @message.each do |m| %>
  <% if (m.sender == current_user && m.recipient == User.find(params[:id])) || (m.sender == User.find(params[:id]) && m.recipient == current_user) %>
		<strong><%= m.sender.email %>:</strong>
		<%= m.body %>
	<% end %>
<% end %>
<%= form_tag('/messages', method: :post) do %>
	<%= text_field_tag :body, nil, class: "text-field", placeholder: "Write your message here...", size: "40" %>
	<%= hidden_field_tag 'recipient', params[:id] %>
	<%= submit_tag "Send message" %>
<% end %>