<div class="chat">
	<%= sync partial: 'message_row', collection: @messages %>
	<%= sync_new partial: 'message_row', resource: Message.new %>
</div>


<%= form_for Message.new, url: :create_message, html: { class: "form-chat" }, remote: true do |f| %>
	<%= f.text_field :body, class: "text-field", placeholder: "Write your message here...", size: "40" %>
	<%= f.hidden_field :recipient, value: params[:id] %>
	<%= f.submit "Send message", class: "btn-message" %>
<% end %>